* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

article {
  border: 5px solid black;
  color: black;
}

.container {
  width: 825px;
  margin: 85px auto;
}

.product {
  text-align: center;
  background-color: #e1e1e1;
  font-size: 22px;
  padding: 16px;
  position: relative;
}

.product::after {
  content: "SALE";
  background-color: red;
  color: white;
  position: absolute;
  padding: 6px 18px;
  font-size: 14px;
  font-weight: bold;
  top: -20px;
  left: -40px;
  letter-spacing: 5px;
}

h2,
.shipping,
.details,
.add-to-cart {
  text-transform: uppercase;
}

p {
  margin-bottom: 15px;
}

ul {
  list-style: square;
  margin-left: 20px;
}

li:last-child {
  margin-bottom: 8px;
}

a:link,
a:visited {
  color: black;
}

a:hover {
  background-color: white;
  text-decoration: none;
}

.add-to-cart {
  background-color: black;
  color: white;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  height: 50px;
}

.add-to-cart:hover {
  background-color: white;
  color: black;
  border-color: white;
  border-top: 5px solid black;
  /* border-bottom: 5px solid black; */
}

.shipping {
  color: #6d6d6d;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 18px;
  margin-top: 8px;
  float: right;
}

.price {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0;
  float: left;
}

.details {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 8px;
}

.colors-container {
  margin-top: 22px;
}

.color {
  height: 25px;
  width: 25px;
  display: inline-block;
  margin-right: 10px;
}

.black {
  background-color: black;
  margin-left: 10px;
}

.blue {
  background-color: rgb(68, 68, 255);
}

.red {
  background-color: rgb(255, 60, 60);
}

.yellow {
  background-color: rgb(255, 226, 61);
}

.green {
  background-color: rgb(146, 223, 149);
}

.brown {
  background-color: rgb(165, 108, 42);
  margin-right: 0;
}

.shoe-img {
  float: left;
  margin-right: 40px;
}

.description-container {
  float: left;
  width: 240px;
  margin-right: 40px;
  margin-top: 20px;
}

.details-container {
  float: left;
  width: 240px;
}

.product-description {
  clear: both;
  margin-bottom: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.info-container {
  background-color: rgb(248, 248, 248);
}

.home:link {
  float: right;
  margin-right: 30px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
